*{
    font-family: 'Arimo', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}
nav{
    display: flex ;
    justify-content: space-between; 
    margin: 50px 170px;
}
nav li{
    list-style: none;
    margin: 50px;
    color: gray;
}
nav ul{
    display: flex;

}


.nav-title{
    font-weight: 400;
    font-size: 45px;
}

.section-a{
    text-align: center;
    background-color: rgba(236, 220, 205, 0.694);
    
    

}
.section-a-title{
    font-weight: 600;
    font-size: 60px;
}

.section-a-des{
    color: gray;
    font-size: medium;
    
}
.button-a{
    padding: 15px 35px;
    border: none;
    background-color: orange;
    border-radius: 8px;
    padding: 20px 35px;
    color: white;
    font-weight: 100;
    font-size: 20px;
    margin: 30px 0px;
}

/* header style end */

.section-b{
    display: flex;
    justify-content: center;
    margin: 50px;
    
    
}
.img-sec-b{
    display: grid;
    grid-template-columns: repeat(2, 360px);

}
.sec-b{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    text-align: left;
}

.sec-b-title{
    font-size: 50px;
    font-weight: 400;
}
.text-primary{
    color: gray;
}
.text-primary-2{
    color: orange;
}

.sec-b-des{
    color: gray;
    padding-bottom: 40px;
    font-size: medium;
    
}

.button-b{
    
    border: none;
    background-color: orange;
    border-radius: 8px;
    padding: 20px 35px;
    color: white;
    font-weight: 100;
    font-size: 20px;
    margin-right: 250px;
    
}

/* section c styles */

.section-c{
    display: flex;
    justify-content: center; 
    margin: 150px;
    
    
}
 .sec-c-boxes{
    margin-left: 200px;
 }
.box-t{
    font-size: 18px;
    font-weight: 570;
}
.sec-c-title{
    font-size: 50px;
    border-left: 5px;
}
.box-p{
    height: 150px;
    padding-right: 5px;
    width: 3px;
    background-color: orange;
    border-right: 5px;

}
.ttf{
    height: 200px;
    width: 700px;
    display: flex;
    
    padding: 4px;
    border: 6px;
    justify-content: flex-start;
    gap: 3px;
    

}
    /* some  */
.some{
    margin-left: 150px;
}
.some-t{
    font-size: 45px;
    font-weight: 600;
}
.some-des{
    color: gray;
}